:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --blue: #bfecff;
  --orange: #ff9f45c2;
  --yellow: #fdfbce;
  --pink: #ffccea;
  --deep-blue: #151b31;
  --x: #fff2cc78;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(
    300deg,
    var(--yellow),
    var(--pink),
    var(--orange)
  );
  background-size: 180% 180%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

input {
  background-color: white;
  border-color: black;
  border-radius: 8px;
  text-align: center;
}

h1 {
  font-size: 4em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

.preview {
  display: grid;
  margin-top: 3rem;
}

.search {
  display: inline-flex;
  gap: 2rem;
}

.songs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  padding: 2rem;
}

.song {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  /* border: 1px solid black; */
  border-radius: 6px;
  background: linear-gradient(
    300deg,
    var(--orange),
    var(--pink),
    var(--yellow)
  );
}

.song .h5 {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song img {
  margin: 10px 0px 10px 0px;
}

button:hover {
  border-color: black;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
